<div>
    <div mat-dialog-content>
        <app-pair *ngFor="let field of fields; let i = index;" [tag]="field[0]" [value]="field[1]" [tags]="data.tags"
            (tagChanged)="updateField($event, i, 0)" (valueChanged)="updateField($event, i, 1)" (removed)=remove(i)>
        </app-pair>
    </div>

    <div mat-dialog-actions align="end">
        <button mat-icon-button (click)="add()" matTooltip="New pair" matTooltipPosition="above">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab color="primary" matTooltip="Valid" (click)="closeDialog()" cdkFocusInitial
            matTooltipPosition="above">Ok</button>
    </div>
</div>