.main-container {
  display: grid;
  grid-template-areas: "flow-diagram upload-form";
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
.flow-diagram {
  grid-area: flow-diagram;
  background-color: orange;
  margin: 10% 5% 15% 5%;
  min-width: 350px;
  max-width: 700px;
}
.upload-form {
  grid-area: upload-form;
  margin: 5% 15% 8% 5%;
  min-width: 350px;
  max-width: 700px;
  padding: 5px 10px 5px 10px;
}
.type-mat-form-field {
  display: block;
}
::ng-deep .mat-vertical-stepper-content {
  visibility: visible !important;
  height: 100% !important;
}
::ng-deep .mat-vertical-stepper-header {
  padding: 14px !important;
}
::ng-deep .mat-vertical-content {
  padding: 0 24px 14px 24px !important;
}
::ng-deep .mat-step-icon {
  background-color: #7b1fa2 !important;
}
@media screen and (max-width: 860px) {
  .main-container {
    display: grid;
    grid-template-areas: "flow-diagram flow-diagram" "upload-form upload-form";
    grid-template-rows: 1fr 1fr;
    width: 100%;
  }
  .flow-diagram {
    margin: 5% 15% 5% 15%;
  }
  .upload-form {
    margin: 5% 15% 5% 15%;
  }
}
