<div class="main-container">
    <mat-card class="flow-diagram">
        <!-- <img mat-card-image class="img-size" src="assets\img\content-injection-flow-diagram.png"> -->
    </mat-card>

    <mat-card class="upload-form">

        <mat-card-content>

            <form [formGroup]="contentUploadFormGroup">
                <mat-vertical-stepper [linear]=true #stepper>

                    <mat-step [stepControl]="lang">

                        <ng-template matStepLabel>Select the language</ng-template>
                        <mat-form-field>
                            <input type="text" placeholder="Language" aria-label="Language" matInput
                                [formControl]="lang" [matAutocomplete]="auto" required>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let language of languages" [value]="language">
                                    {{language}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                    </mat-step>

                    <mat-step>

                        <ng-template matStepLabel>Choose the type</ng-template>

                        <mat-form-field class="type-mat-form-field">
                            <mat-chip-list class="type-chips" aria-label="Fish selection" multiple=false
                                ariaOrientation="horizontal" required [formControl]="type">
                                <mat-chip *ngFor="let typeContent of types" [value]="typeContent"
                                    (click)="changeType(typeContent)">
                                    {{ typeContent }}
                                </mat-chip>
                            </mat-chip-list>

                        </mat-form-field>

                    </mat-step>

                    <mat-step>

                        <ng-template matStepLabel>Upload</ng-template>

                        <app-file-upload (uploadCompleted)="onFileComplete($event)"
                            [readerProgressValue]=readerProgressValue></app-file-upload>

                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Validation</ng-template>
                        <div class="validation-step">
                            <div>
                                <div *ngIf="validationInProgress" class="validation-in-progress">
                                    <mat-spinner *ngIf="validationInProgress" [diameter]="35"></mat-spinner>
                                    <div>Validation in progress..</div>
                                </div>
                                
                                <div *ngIf="isValid">
                                    
                                    <mat-card class="mat-elevation-z0 validation-btns-card">                                    
                                        <button mat-button (click)="annotate()" *ngIf="!isRaw"><mat-icon>check</mat-icon>Annotate</button>
                                        <button mat-button (click)="adjust()" *ngIf="isRaw"><mat-icon>check</mat-icon>Adjust</button>
                                    </mat-card>
                                    
                                </div>
                            </div>

                            <div>
                                <button mat-button (click)="stepper.reset(); reset()">Reset</button>
                            </div>
                        </div>
                    </mat-step>

                </mat-vertical-stepper>

            </form>

        </mat-card-content>

    </mat-card>

</div>