<div class="mat-elevation-z1" style="text-align: center;">
    <button mat-icon-button (click)=previous()>
        <mat-icon>chevron_left</mat-icon>
    </button>

    <button mat-icon-button (click)="move(displayedRange[0])">
        {{displayedRange[0]}}
    </button>

    <button mat-icon-button (click)="move(displayedRange[1])">
        {{displayedRange[1]}}
    </button>

    <button mat-icon-button color="primary">
        {{displayedRange[2]}}
    </button>

    <button mat-icon-button (click)="move(displayedRange[3])">
        {{displayedRange[3]}}
    </button>

    <button mat-icon-button (click)="move(displayedRange[4])">
        {{displayedRange[4]}}
    </button>

    <button mat-icon-button (click)=next()>
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>