<mat-dialog-content>
    <mat-form-field appearance="outline" class="unit-margin" style="max-width:50px !important;">
        <mat-label>INDEX</mat-label>
        <input matInput [(ngModel)]="conlluDialog.conlluToken.index" disabled>
    </mat-form-field>

    <mat-form-field appearance="outline" class="unit-margin" style="max-width:150px !important;">
        <mat-label>TOKEN</mat-label>
        <input matInput [(ngModel)]="conlluDialog.conlluToken.token" disabled>
    </mat-form-field>

    <mat-form-field appearance="outline" class="unit-margin">
        <mat-label>LEMMA</mat-label>
        <input matInput [(ngModel)]="conlluDialog.conlluToken.lemma">
    </mat-form-field>

    <mat-form-field appearance="outline" class="unit-margin" style="max-width:80px !important;">
        <mat-label>UPOS</mat-label>
        <input matInput [(ngModel)]="conlluDialog.conlluToken.upos" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let up of uposList" [value]="up.tag">
                {{up.tag}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="unit-margin" style="max-width:80px !important;">
        <mat-label>XPOS</mat-label>
        <input matInput [(ngModel)]="conlluDialog.conlluToken.xpos" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let up of uposList" [value]="up.tag">
                {{up.tag}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="unit-margin">
        <mat-label>FEAT</mat-label>
        <input matInput [(ngModel)]="conlluDialog.conlluToken.feat" (click)="openFeatDialog()">
    </mat-form-field>

    <mat-form-field style="max-width:50px !important;" class="unit-margin" appearance="outline">
        <mat-label>HEAD</mat-label>
        <input matInput [(ngModel)]="conlluDialog.conlluToken.head" [matAutocomplete]="autoNB">
        <mat-autocomplete #autoNB="matAutocomplete">
            <mat-option *ngFor="let itok of tokensIndexes" [value]="itok">
                {{itok}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field style="max-width:80px !important;" appearance="outline" class="unit-margin">
        <mat-label>DEPREL</mat-label>
        <input matInput [(ngModel)]="conlluDialog.conlluToken.deprel" [matAutocomplete]="autoDeprel">
        <mat-autocomplete #autoDeprel="matAutocomplete">
            <mat-option *ngFor="let deprel of udeprelList" [value]="deprel.tag">
                {{deprel.tag}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="unit-margin" style="max-width:100px !important;">
        <mat-label>DEPS</mat-label>
        <input matInput [(ngModel)]="conlluDialog.conlluToken.deps" (click)="openDepsDialog()">
    </mat-form-field>

    <mat-form-field appearance="outline" class="unit-margin">
        <mat-label>MISC</mat-label>
        <input matInput [(ngModel)]="conlluDialog.conlluToken.misc">
    </mat-form-field>
</mat-dialog-content>
