.editor-container {
  display: grid;
  grid-template-rows: 15% 3% 1fr;
  height: 100%;
  width: 100%;
}
.manager {
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  padding: 15px;
  text-align: center;
}
.margin-elt {
  margin: 13px;
}
.full-width {
  width: 100%;
}
