<div class="editor-container">
    <div class="manager">
        <div>
            <button mat-icon-button (click)=previous()>
                <mat-icon>chevron_left</mat-icon>
            </button>
        
            <button mat-icon-button color="primary">
                {{currentIndex + 1}}
            </button>
        
            <button mat-icon-button (click)=next()>
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>

        <div>
            <app-annotation-list (selectedAnnotation)="setSelectedAnnotation($event)"></app-annotation-list>
        </div>

        <div>

        </div>
    </div>

    <ng-container [ngSwitch]="selectedAnnotation">
        <app-conllu [currentSentenceIndex]="currentIndex" *ngSwitchCase="annotations.conllu"></app-conllu>
        <app-ner [currentSentenceIndex]="currentIndex" *ngSwitchCase="annotations.ner"></app-ner>
        <div class="mat-elevation-z0 mat-card" *ngSwitchDefault>Please add an annotation</div>
    </ng-container>
</div>