.editor-container {
    display: grid;
    grid-template-rows: 15% 3% 1fr;
    height: 100%;
    width: 100%;
}

.manager {
    display: grid;
    grid-template-columns: 20% 40% 20%;
    text-align: center;
}

.padding-top-elt {
    padding-top: 13px;
}

.full-width {
    width: 100%;
}

.btn-margin-right {
    margin-right: 13px;
}

.centered-content {
    text-align: center;
}