<div class="editor-container">
    <div class="manager">
        <div style="padding: 15px;">
            <app-index-list [indexes]=indexes [currentIndex]=currentIndex></app-index-list>
        </div>

        <div style="padding: 15px;">
            <app-annotation-list (selectedAnnotation)="setSelectedAnnotation($event)"></app-annotation-list>
        </div>

        <div class="mat-elevation-z1">

        </div>
    </div>

    <div style="background-color: cornsilk;" [ngSwitch]="selectedAnnotation">
        <app-conllu *ngSwitchCase="annotations.conllu"></app-conllu>
        <app-ner *ngSwitchCase="annotations.ner"></app-ner>
        <div class="mat-elevation-z0 mat-card" *ngSwitchDefault>Please add an annotation</div>
    </div>
</div>