<form class="example-container mat-elevation-z1" [formGroup]="conllTokensArrayForm">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.index}} </td>
        </ng-container>

        <ng-container matColumnDef="token">
            <th mat-header-cell *matHeaderCellDef> Form </th>
            <td mat-cell *matCellDef="let element"> {{element.token}} </td>
        </ng-container>

        <ng-container matColumnDef="lemma">
            <th mat-header-cell *matHeaderCellDef> Lemma </th>
            <td mat-cell *matCellDef="let element; let index = index;" [formGroupName]="index">
                <mat-form-field color="purple">
                    <input matInput formControlName="lemma">
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="upos">
            <th mat-header-cell *matHeaderCellDef> Upos </th>
            <td mat-cell *matCellDef="let element; let index = index;" [formGroupName]="index">
                <mat-form-field style="max-width:80px !important;">
                    <input type="text" matInput formControlName="upos"
                        [matAutocomplete]="auto" required>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let up of uposList" [value]="up.tag">
                            {{up.tag}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="xpos">
            <th mat-header-cell *matHeaderCellDef> Xpos </th>
            <td mat-cell *matCellDef="let element; let index = index;" [formGroupName]="index">
                <mat-form-field style="max-width:80px !important;">
                    <input type="text" matInput formControlName="xpos"
                        [matAutocomplete]="auto" required>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let up of uposList" [value]="up.tag">
                            {{up.tag}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field></td>
        </ng-container>

        <ng-container matColumnDef="feat">
            <th mat-header-cell *matHeaderCellDef> Feat </th>
            <td mat-cell *matCellDef="let element"> {{element.feat}} </td>
        </ng-container>

        <ng-container matColumnDef="head">
            <th mat-header-cell *matHeaderCellDef> Head </th>
            <td mat-cell *matCellDef="let element; let index = index;" [formGroupName]="index">
                <mat-form-field style="max-width:50px !important;">
                    <input type="text" matInput formControlName="head"
                        [matAutocomplete]="auto" required>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let nb of sentencesLength" [value]="nb">
                            {{nb}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="deprel">
            <th mat-header-cell *matHeaderCellDef> Deprel </th>
            <td mat-cell *matCellDef="let element; let index = index;" [formGroupName]="index">
                <mat-form-field style="max-width:80px !important;">
                    <input type="text" matInput formControlName="deprel"
                        [matAutocomplete]="auto" required>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let deprel of udeprelList" [value]="deprel.tag">
                            {{deprel.tag}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field></td>
        </ng-container>

        <ng-container matColumnDef="deps">
            <th mat-header-cell *matHeaderCellDef> Deps </th>
            <td mat-cell *matCellDef="let element"> {{element.deps}} </td>
        </ng-container>

        <ng-container matColumnDef="misc">
            <th mat-header-cell *matHeaderCellDef> Misc </th>
            <td style="max-width:100px !important;" mat-cell *matCellDef="let element; let index = index;" [formGroupName]="index">
                <mat-form-field>
                    <input matInput formControlName="misc">
                </mat-form-field></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</form>