<div class="sentence-card">
    <mat-card cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="moveWithinSentence($event)">
        <mat-chip-list>
            <app-token *ngFor="let token of sentence$ | async; let i = index" [token]="token" [itoken]="i" cdkDrag>
            </app-token>
        </mat-chip-list>
    </mat-card>

    <div>
        <button mat-icon-button matTooltip="More actions" matTooltipPosition="right" matTooltipShowDelay="500"
            [matMenuTriggerFor]="menuSentenceActions">
            <mat-icon>more_horiz</mat-icon>
        </button>
    </div>
</div>

<mat-menu #menuSentenceActions="matMenu" yPosition="above">
    <ng-template matMenuContent>
        <button mat-icon-button matTooltip="Duplicate the entire sentence" matTooltipPosition="above"
            matTooltipShowDelay="500" (click)="duplicate()">
            <mat-icon>autorenew</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Delete the entire sentence" matTooltipPosition="above"
            matTooltipShowDelay="500" (click)="delete()">
            <mat-icon>clear</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Insert a new sentence above" matTooltipPosition="above"
            matTooltipShowDelay="500" (click)="newBefore()">
            <mat-icon>arrow_drop_up</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Insert a new sentence below" matTooltipPosition="above"
            matTooltipShowDelay="500" (click)="newAfter()">
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
    </ng-template>
</mat-menu>