<table class="mat-elevation-z1" mat-table [dataSource]="sentence$">

    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element;"> {{element.index}} </td>
    </ng-container>

    <ng-container matColumnDef="token">
        <th mat-header-cell *matHeaderCellDef> Form </th>
        <td mat-cell *matCellDef="let element;" style="max-width:130px !important;">
            {{element.token}} </td>
    </ng-container>

    <ng-container matColumnDef="lemma">
        <th mat-header-cell *matHeaderCellDef> Lemma </th>
        <td mat-cell *matCellDef="let element;"> {{element.lemma}} </td>
    </ng-container>

    <ng-container matColumnDef="upos">
        <th mat-header-cell *matHeaderCellDef> Upos </th>
        <td mat-cell *matCellDef="let element;"> {{element.upos}} </td>
    </ng-container>

    <ng-container matColumnDef="xpos">
        <th mat-header-cell *matHeaderCellDef> Xpos </th>
        <td mat-cell *matCellDef="let element;"> {{element.xpos}} </td>
    </ng-container>

    <ng-container matColumnDef="feat">
        <th mat-header-cell *matHeaderCellDef
            style="max-width:100px !important; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-weight: normal !important;">
            Feat </th>
        <td mat-cell *matCellDef="let element;"
            style="max-width:100px !important; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-weight: normal !important;">
            {{element.feat}} </td>
    </ng-container>

    <ng-container matColumnDef="head">
        <th mat-header-cell *matHeaderCellDef> Head </th>
        <td mat-cell *matCellDef="let element;"> {{element.head}} </td>
    </ng-container>

    <ng-container matColumnDef="deprel">
        <th mat-header-cell *matHeaderCellDef> Deprel </th>
        <td mat-cell *matCellDef="let element;"> {{element.deprel}} </td>
    </ng-container>

    <ng-container matColumnDef="deps">
        <th mat-header-cell *matHeaderCellDef> Deps </th>
        <td mat-cell *matCellDef="let element;"> {{element.deps}} </td>
    </ng-container>

    <ng-container matColumnDef="misc">
        <th mat-header-cell *matHeaderCellDef> Misc </th>
        <td style="max-width:100px !important;" mat-cell *matCellDef="let element;"> {{element.misc}}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let index = index;" (click)="editToken(index)"
        (cdkObserveContent)="tokenValuesHaveChanged(index)"></tr>
</table>