<mat-dialog-content>
    <mat-form-field appearance="outline" class="unit-margin" style="max-width:150px !important;">
        <mat-label>TOKEN</mat-label>
        <input matInput [(ngModel)]="dialogData.token.token" disabled>
    </mat-form-field>

    <mat-form-field appearance="outline" class="unit-margin" style="max-width:80px !important;">
        <mat-label>POS</mat-label>
        <input matInput [(ngModel)]="dialogData.token.pos" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let up of uposList" [value]="up.tag">
                {{up.tag}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="unit-margin">
        <mat-label>CHUNK</mat-label>
        <input matInput [(ngModel)]="dialogData.token.chunk">
    </mat-form-field>

    <mat-form-field appearance="outline" class="unit-margin">
        <mat-label>SHORT SHAPE</mat-label>
        <input matInput [(ngModel)]="dialogData.token.shortShape">
    </mat-form-field>

    <mat-form-field appearance="outline" class="unit-margin" style="max-width:150px !important;">
        <mat-label>LABEL</mat-label>
        <input matInput [matMenuTriggerFor]="typesMenu" [(ngModel)]="dialogData.token.label">
    </mat-form-field>
</mat-dialog-content>


<mat-menu #typesMenu="matMenu" yPosition="below" xPosition="after">
    <ng-template matMenuContent>
        <button mat-menu-item *ngFor="let type of types" matTooltip="{{type.description}}"
            (menuOpened)="setType(type.tag)" [matMenuTriggerFor]="tagsMenu" matTooltipPosition="left"
            matTooltipShowDelay="500">{{type.tag}}</button>
    </ng-template>
</mat-menu>

<mat-menu #tagsMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item *ngFor="let tag of tags" matTooltip="{{tag.description}}" matTooltipPosition="right"
            matTooltipShowDelay="500" (click)="setTag(tag.tag)">{{tag.tag}}</button>
    </ng-template>
</mat-menu>