<mat-chip class="mat-chip-token" #chipToken [matMenuTriggerFor]="menu" [value]="token">{{ token }}
    <mat-menu #menu="matMenu" yPosition="above">
        <button mat-icon-button>
            <mat-icon>arrow_left</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>arrow_right</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>chevron_right</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>more_horiz</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>clear</mat-icon>
        </button>
    </mat-menu>
</mat-chip>