<mat-form-field appearance="outline" color="purple" *ngIf="inEditing">
    <mat-label>{{originalToken}}</mat-label>
    <input #newinput matInput [(ngModel)]="token.token" (keydown.enter)="edit()">
</mat-form-field>

<button mat-stroked-button [matMenuTriggerFor]="menu" [value]="token" *ngIf="!inEditing">{{token.token}}</button>


<mat-menu #menu="matMenu" yPosition="above">
    <ng-template matMenuContent>
        <button mat-icon-button matTooltip="Duplicate the token" matTooltipPosition="above"
            matTooltipShowDelay="500" (click)="duplicate()">
            <mat-icon>autorenew</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Insert a new token on the left" matTooltipPosition="above"
            matTooltipShowDelay="500" (click)="newBefore()">
            <mat-icon>arrow_left</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Insert a new token on the right" matTooltipPosition="above"
            matTooltipShowDelay="500" (click)="newAfter()">
            <mat-icon>arrow_right</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Edit the token" matTooltipPosition="above" matTooltipShowDelay="500"
            (click)="editing()">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Delete the token from the sentence" matTooltipPosition="above"
            matTooltipShowDelay="500" (click)="delete()">
            <mat-icon>clear</mat-icon>
        </button>
    </ng-template>
</mat-menu>