.main-container {
  display: grid;
  grid-template-rows: 60px 1fr;
  height: 100%;
  width: 100%;
}
.btn-validation {
  right: 22px;
  top: 74px;
  left: auto;
  position: fixed;
}
.sentences-container {
  margin-right: 70px;
  margin-left: 14px;
}
