<div class="main-container">
    <div>
        <button class="btn-validation" mat-fab>
            <mat-icon>check</mat-icon>
        </button>
    </div>

    <div class="sentences-container" cdkDropListGroup>
        <mat-card class="sentence-card example-list" [cdkDropListData]="sent" cdkDropList
            cdkDropListOrientation="horizontal" (cdkDropListDropped)="moveWithinSentence($event)"
            *ngFor="let sent of sentences; let i = index">
            <div class="example-box" *ngFor="let token of sent" cdkDrag>{{token}}</div>
        </mat-card>
    </div>

</div>
